*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}
/*Sixtyfour */ 
.header-cantainer{
    transition: .2s;
    padding: 6px 56px;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 2px #d0d4e0;
}

.header-logo{
    height: 44px;
    width: auto;
}

.hamburger{
    display: none;
}

.hamburger:hover{
    cursor: pointer;
}

.hamburger > div{
    height: 3px;
    width: 27px;
    margin: 6px;
    background-color: #1a2238;
}

.nav-bar>a{
    color: black;
    margin: 3px 12px;
    transition: .3s;
}

.nav-bar>a:hover{
    color: #464e61;
}

.landing-cantainer{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #d0d4e0;
    transition: .2s;
}

.landing-cantainer div{
    flex: 1;
}

.landing-cantainer .image-section img{
    max-height: 200px;
    max-width: 200px;
    border-radius: 100%;
    
}

.image-section .border-2{
    width: fit-content;
    height: fit-content;
    
    border-radius: 100%;
    border: 18px solid white;
}
.image-section .border-1{
    width: fit-content;
    border-radius: 100%;
    border: 16px solid #1a2238;
}

.image-section .border-3{
    width: fit-content;
    border-radius: 100%;
    border: 24px solid #1a2238;
}

 .landing-cantainer .intro-section {
    text-align: center;
    min-width: 320px;
}

.landing-cantainer .intro-section p{
   margin-bottom: 24px;
}
.landing-cantainer .intro-section p span{
    padding-left: 6px;
    font-family: Sixtyfour,'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
}

.intro-section .Contact-btn{
    color: white;
    background-color: #1a2238;
    padding: 10px 24px;
    border-radius: 12px;      
    transition: .2s;
}
.intro-section .Contact-btn:hover{
    color: white;
    background-color: #1a2238dd;     
}

.title{
    margin: 104px auto 32px;
    text-align: center;
    color: #1a2238;
}

.t2{
    background-color: #d0d4e0;
    margin: 0px auto 0;
    padding-top: 54px;
}

.goals-cantainer{
    padding: 24px 8%;
    margin-bottom: 62px;
}
.goals-cantainer ul{
    margin: 14px 54px;
}

.projects-cantainer{
    padding: 5%;
    background-color: #d0d4e0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.projects-cantainer > div{
    background-color: white;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    margin: 20px 20px 30px;
}
.product-img{
    max-width: 300px;
    height: auto;
}
.project-title{
    margin: 24px auto 12px;
    text-align: center;
} 
.project-link{
    color: black;
    transition: .2s;
}

.project-link:hover{
    color: #1a2238de;
}

.project-description{
    padding: 0px 24px;
    font-size: 12px;
}

.js-cantainer>div{
    display: none;
}


.contact-cantainer {
    padding: 34px;
    margin: 94px auto;
    width: 280px;
    height: 320px;
    background-color: #1a2238;
    border-radius: 8px;
}

.contact-title{
    margin-top: 0;
    margin-bottom: 40px;
    color: #d0d4e0;

}

.contact-link{
    margin: 12px;
    display: flex;
    align-items: center;
}

.contact-link>a{
    color: #d0d4e0;
    transition: .2s;
    padding: 8px 16px;
    
}

.contact-link>a:hover{
    color: #ffffff;
}
.footer-cantainer{
    background-color: #1a2238;
    height: 100px;
    padding: 34px 8% 34px;
}
.footer-cantainer>div{
    float: right;
    color: #d0d4e0;
}
.footer-cantainer a{
    color: white;
    margin: 12px;
    transition: .2s;
}

.footer-cantainer a:hover{
    color: #d0d4e0;
}

@media screen and (max-width: 788px) and (min-width:581px) {
    /**/  

    
    .landing-cantainer .image-section img{
        max-height: 160px;
        max-width: 160px;
    }
    
    .image-section .border-2{
        border: 14px solid white;
    }
    .image-section .border-1{
        border: 12px solid #1a2238;
    }
    
    .image-section .border-3{
        border: 18px solid #1a2238;
    }
    
     .landing-cantainer .intro-section {
        min-width: 160px;
        margin-left: 24px;
    }
    .projects-cantainer > div{
        max-width: 280px;
        height: 280px;
        margin: 20px 20px 30px;
    }
    .product-img{
        max-width: 280px;
    }
    
}

@media screen and (max-width: 580px){
    .landing-cantainer{
        padding: 38px;
        flex-direction: column;
    }
    .image-section{
        margin-bottom: 18px;
    }
    .intro-section{
        margin: 24px auto 60px;
    }
    

    .landing-cantainer .image-section img{
        max-height: 120px;
        max-width: 120px;
    }
    
    .image-section .border-2{
        border: 12px solid white;
    }
    .image-section .border-1{
        border: 10px solid #1a2238;
    }
    
    .image-section .border-3{
        border: 16px solid #1a2238;
    }
    
     .landing-cantainer .intro-section {
        min-width: 160px;
    }

    .intro-section .Contact-btn{
        padding: 8px 18px;
    }
    .hamburger{
        display: block;
    }
    .header-logo{
        height: 38px;
    }
    .nav-bar{
        padding-top: 34px;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        z-index: -1;
        background-color: white;
        height: 0;
        overflow: hidden;
        border-radius: 12px;
        transition: .3s;
        box-shadow: 0 4px 2px #d0d4e0;
        
    }
    .nav-bar>a{
        display: block;
        text-align: center;
        margin: 18px auto;
    }
    #hamburger-checkbox:checked ~ .nav-bar{
        height: 200px;
        
    }

}

@media screen and (max-width: 380px){
    .header-logo{
        height: 30px;
    }
}